html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  width: 100%;
}
.github__img{
  width: 30px;
  height: 30px;
  margin-left: 4rem;
  border-radius: 50px;
  transition: ease-in-out .2s background-color;
}
.github__img:hover{
  cursor: grab;
  background-color: rgba(54, 162, 235, 0.3);
}
.canvas__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.algo__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.btn__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
  background-color: rgba(54, 163, 235, 0.1);
  color: #2c3e50;
  margin: 1rem;
  padding: .6rem;
  border: none;
  width: 10rem;
  letter-spacing: .1rem;
  transition: ease-in-out .2s background-color;

}
.btn:hover{
  background-color: rgba(54, 162, 235, 0.3);
}
canvas{
  width: 40ch;
  height: auto;
}
.actions{
  display: flex;
  flex-direction: row;
  width: 40ch;
}
.select{
  padding: .2rem;
  border: 1px solid #2c3e50;;
}
.result{
  text-align: center;
  line-height: 3rem;
  width: 80ch;
  height: 4rem;
  font-size: 1rem;
}
.result__text{
  color: #2c3e50;
  font-weight: 600;
  background-color: rgba(54, 162, 235, 0.2);
  padding: .4rem;
  border-radius: 10px;
}
.algo{
  width: 100%;
}
.algo:hover{
  background-color: #2ecc7050;
}
.create{
  width: 100%;
}
.create:hover{
  background-color: #f1c40f50;
}